@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root > nav > div > a:hover {
  color: gold;
  transform: scale(1.2);
  transition: 1s;
}

#root > nav > div > a:not(:hover) {
  transition: 1s;
}

.custom-select {
  max-width: 110px;
}

.invalid-feedback {
  position: absolute;
  top: 40px;
  left: 5px;
}

.input-group {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  min-width: 430px;
}

.tab-group {
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  // border: 1px solid #f8f9fa;
  // border-radius: 4px;
}

.tab-content {
  border-bottom: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
}

.headers-group {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.fa-trash-alt {
  color: red;
  font-size: 22px;
  margin-left: 10px;
  cursor: pointer;
}

.response-group {
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.2rem;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

.response-group h6 {
  margin-left: 16px;
}

.overflow-auto {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  min-height: 80px;
  max-height: 300px;
  margin-bottom: 10px;
}

.alert {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
}

.history-container {
  max-width: 50%;
}

.history-group {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  left: 30%;
}

.d-flex.history-item {
  color: black;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
}

.history-get {
  color: blue;
  margin-left: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #dee2e6;
  font-weight: bold;
  font-size: large;
}

.history-status {
  margin-left: 20px;
  border-bottom: 1px solid #dee2e6;
}

.history-url {
  margin-left: 20px;
  border-bottom: 1px solid #dee2e6;
  max-width: 500px;
}

.history-info {
  margin-left: 20px;
  color: blue;
  font-size: large;
}

.history-info i:hover {
  transform: scale(1.5);
  transition: 0.7s;
  cursor: pointer;
}

.history-info i:not(:hover) {
  transition: 1s;
}

.history-repeat {
  color: green;
  margin-left: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #dee2e6;
  font-weight: bold;
  font-size: large;
}

.history-repeat i:hover {
  transform: scale(1.5);
  transition: 0.7s;
  cursor: pointer;
}

.history-repeat i:not(:hover) {
  transition: 1s;
}

.btn-clear-history {
  position: relative;
  left: 70%;
  margin-top: 30px;
}

.loader {
  position: relative;
  left: 50%;
  margin-top: 30px;
}

.about-container {
  max-width: 50%;
}

.history-empty {
  position: relative;
  left: 50%;
  margin-top: 30px;
  font-size: 28px;
}
